# General
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log
yarn-error.log

# Dist
dist/
build/
out/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv*/
*.egg-info/
.mypy_cache/
.pytest_cache/

# Java / Android
*.class
*.dex
*.apk
*.aar
*.ap_
.gradle/
local.properties
.externalNativeBuild
.cxx/
captures/

# Go
bin/
vendor/

# Rust
target/
Cargo.lock
